xterm*faceName: Share-TechMonoTrue
xterm*faceSize: 10
xterm*renderFont: true


! VT Font Menu: Unreadable
xterm*faceSize1: 8
! VT font menu: Tiny
xterm*faceSize2: 10
! VT font menu: Medium
xterm*faceSize3: 12
! VT font menu: Large
xterm*faceSize4: 16
! VT font menu: Huge
xterm*faceSize5: 22

xterm*VT100.Translations: #override \
    Ctrl <Key> minus: smaller-vt-font() \n\
    Ctrl <Key> plus: larger-vt-font() \n\
    Ctrl <Key> 0: set-vt-font(d)



! Only select text
xterm*highlightSelection: true
! Remove trailing spaces
! font settings --------------------------------------------------------------

Xft.autohint: true
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintslight
!Xft.dpi: 96
Xft.rgba: rgb
Xft.lcdfilter: lcddefault


xterm*trimSelection: true

! Lines of output that you can scroll back over
xterm*saveLines: 4096
! Turn the scrollbar on, and put it on the right
xterm*scrollBar: false
xterm*rightScrollBar: false

! Do not scroll when there is new input e.g. tail -f /var/syslog
xterm*scrollTtyOutput: false


!!Colors

xterm*background: #03090A
xterm*foreground: #90d9d5
xterm*cursorColor: #90d9d5

!Black
xterm*color0:    #03090A
xterm*color8:    #649795

!Red
xterm*color1:    #2FA154
xterm*color9:    #2FA154

!Green
xterm*color2:    #129E61
xterm*color10:    #129E61

!yellow
xterm*color3:    #21D272
xterm*color11:    #21D272

!blue
xterm*color4:    #0A1E96
xterm*color12:    #0A1E96

!Magenta
xterm*color5:    #265EBC
xterm*color13:    #265EBC

!Cyan
xterm*color6:    #C559DF
xterm*color14:    #C559DF

!White
xterm*color7:    #90d9d5
xterm*color15:    #90d9d5


! urxvt -------------------------------------------

URxvt.font: xft:Fira Mono:size=10
URxvt.boldFont: xft:Fira Mono:Bold:size=10
URxvt.letterSpace: -2
! Add fallback fonts as laid out in `man 1 urxvt` under "font:" in the RESOURCES section

! Window size and position
!URxvt*geometry: 60x22+50+100
! Window size, let the Window Manager position it
URxvt.geometry: 80x28

URxvt.scrollstyle: plain
URxvt.scrollBar: false
URxvt.scrollBar_right: false

! scrollback buffer lines - 65535 is max (64 is default)
URxvt.saveLines:16384


! Clickble URLs
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/chromium
URxvt.matcher.button: 3

URxvt*.foreground:  ##90d9d5
URxvt*.background:   #03090A
URxvt*.cursorColor: #90d9d5
!
!Black
URxvt*color0:	#03090A
URxvt*color8:	#649795

!Red
URxvt*color1:	#2FA154
URxvt*color9:	#2FA154

!Green
URxvt*color2:	#129E61
URxvt*color10:	#129E61

!Yellow
URxvt*color3:	#21D272
URxvt*color11:	#21D272

!Blue
URxvt*color4:	#0A1E96
URxvt*color12:	#0A1E96

!Magenta
URxvt*color5:	#265EBC
URxvt*color13:	#265EBC

!Cyan
URxvt*color6:	#C559DF
URxvt*color14:	#C559DF

!White
URxvt*color7:	#90d9d5
URxvt*color15:	#90d9d5
!
! Bold, Italic, Underline
URxvt*.colorBD:     #845a5e
!*.colorIT:
!*.colorUL:


