! XTerm

XTerm*background:        #000000
XTerm*foreground:        #ffffff
XTerm*faceName:          Terminus
XTerm*faceSize:          11



!UXTerm
UXTerm*faceName: Terminus
UXTerm*faceSize: 10
UXTerm*background:        #000000
UXTerm*foreground:        #ffffff
UXTerm*dynamicColors:      true
UXTerm*utf8:               2
UXTerm*eightBitInput:      true
UXTerm*saveLines:          512
UXTerm*scrollKey:          true
UXTerm*scrollTtyOutput:    false
UXTerm*scrollBar:          true
UXTerm*rightScrollBar:     true
UXTerm*jumpScroll:         true
UXTerm*multiScroll:        true
UXTerm*toolBar:            false

! Urxvt

URxvt.depth: 32
URxvt.background:	rgba:0000/0000/0200/c800
URxvt.foreground:	#ffffff
URxvt.font: -misc-fixed-medium-r-normal--13-120-75-*-c-80-iso8859-16 
URxvt.scrollBar:	false
URxvt.saveLines:	65535
