<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/                 file:///usr/share/openbox/menu.xsd">
	<menu id="root-menu" label="Openbox 3">
		<item label="Run...">
			<action name="Execute">
				<execute>gmrun</execute>
			</action>
		</item>
		<item label="Terminal emulator">
			<action name="Execute">
				<execute>terminator</execute>
			</action>
		</item>
		<item label="Web browser">
			<action name="Execute">
				<execute>chromium</execute>
			</action>
		</item>
		<item label="File Manager">
			<action name="Execute">
				<execute>pcmanfm</execute>
			</action>
		</item>
		<separator/>
		<!-- This requires the presence of the 'menu' package to work -->
		<menu id="root-menu-271224" label="Text">
			<item label="Xfwrite">
				<action name="Execute">
					<execute>xfwrite</execute>
				</action>
			</item>
			<item label="Fbreader">
				<action name="Execute">
					<execute>fbreader</execute>
				</action>
			</item>
			<item label="Nano">
				<action name="Execute">
					<execute>urxvt -T &quot;Nano&quot; -e /bin/nano</execute>
				</action>
			</item>
		</menu>
		<menu id="root-menu-391341" label="Office">
			<item label="Libreoffice">
				<action name="Execute">
					<execute>libreoffice</execute>
				</action>
			</item>
			<item label="Ebook">
				<action name="Execute">
					<execute>fbreader</execute>
				</action>
			</item>
			<item label="XFE">
				<action name="Execute">
					<execute>xfe</execute>
				</action>
			</item>
			<item label="Calculator">
				<action name="Execute">
					<execute>xcalc</execute>
				</action>
			</item>
		</menu>
		<menu id="root-menu-581851" label="Paintings">
			<item label="Viewnior">
				<action name="Execute">
					<execute>viewnior</execute>
				</action>
			</item>
			<item label="Scrot">
				<action name="Execute">
					<execute>urxvt -T &quot;scrot -d 5&quot; -e /usr/bin/scrot</execute>
				</action>
			</item>
		</menu>
		<menu id="root-menu-98201" label="Web">
			<item label="Links">
				<action name="Execute">
					<execute>xlinks2</execute>
				</action>
			</item>
			<item label="Qbittorrent">
				<action name="Execute">
					<execute>qbittorrent</execute>
				</action>
			</item>
			<item label="Firefox">
				<action name="Execute">
					<execute>/home/mindaugas/Documents/Browser/firefox/firefox</execute>
				</action>
			</item>
			<item label="Irssi">
				<action name="Execute">
					<execute>urxvt -T &quot;irssi-text&quot; -e /usr/bin/irssi</execute>
				</action>
			</item>
		</menu>
		<menu id="root-menu-412140" label="Programming">
			<item label="Geany">
				<action name="Execute">
					<execute>geany</execute>
				</action>
			</item>
			<item label="Vi">
				<action name="Execute">
					<execute>sakura -T &quot;vi&quot; -e /usr/bin/vi</execute>
				</action>
			</item>
		</menu>
		<menu id="root-menu-732233" label="Multimedia">
			<item label="Radio">
				<action name="Execute">
					<execute>urxvt -T &quot;pmrp&quot; -e /usr/local/bin/pmrp</execute>
				</action>
			</item>
			<item label="Audacious">
				<action name="Execute">
					<execute>audacious</execute>
				</action>
			</item>
			<item label="Smplayer">
				<action name="Execute">
					<execute>smplayer</execute>
				</action>
			</item>
			<item label="Alsamixer">
				<action name="Execute">
					<execute>xterm -T &quot;alsamixer&quot; -e /usr/bin/alsamixer</execute>
				</action>
			</item>
			<item label="Cmus">
				<action name="Execute">
					<execute>urxvt -T &quot;cmus&quot; -e /usr/bin/cmus</execute>
				</action>
			</item>
		</menu>
		<menu id="root-menu-62529" label="System">
			<item label="Top">
				<action name="Execute">
					<execute>xterm  -T &quot;Top&quot; -e /usr/bin/top</execute>
				</action>
			</item>
			<item label="Htop">
				<action name="Execute">
					<execute>xterm -T &quot;Hop&quot; -e /usr/bin/htop</execute>
				</action>
			</item>
			<item label="Lxtask">
				<action name="Execute">
					<execute>lxtask</execute>
				</action>
			</item>
			<item label="Reportbug">
				<action name="Execute">
					<execute>xterm -T &quot;reportbug&quot; -e /usr/bin/reportbug --exit-prompt</execute>
				</action>
			</item>
		</menu>
		<menu id="root-menu-262743" label="Utils">
			<item label="Sakura">
				<action name="Execute">
					<execute>sakura</execute>
				</action>
			</item>
			<item label="Xterm">
				<action name="Execute">
					<execute>xterm</execute>
				</action>
			</item>
			<item label="Sakura">
				<action name="Execute">
					<execute>sakura</execute>
				</action>
			</item>
			<item label="Urxvt">
				<action name="Execute">
					<execute>urxvt</execute>
				</action>
			</item>
			<item label="Obconf">
				<action name="Execute">
					<execute>obconf</execute>
				</action>
			</item>
			<item label="Obmenu">
				<action name="Execute">
					<execute>obmenu</execute>
				</action>
			</item>
			<item label="Nitrogen">
				<action name="Execute">
					<execute>nitrogen</execute>
				</action>
			</item>
			<item label="Lxappearance">
				<action name="Execute">
					<execute>lxappearance</execute>
				</action>
			</item>
		</menu>
		<separator/>
		<menu id="client-list-menu"/>
		<separator/>
		<item label="Reconfigure">
			<action name="Reconfigure"/>
		</item>
		<item label="Restart">
			<action name="Restart"/>
		</item>
		<separator/>
		<item label="Lock">
			<action name="Execute">
				<execute>slock</execute>
			</action>
		</item>
		<separator/>
		<menu id="root-menu-29326" label="Goodbay">
			<item label="Obsession">
				<action name="Execute">
					<execute>obsession-logout</execute>
				</action>
			</item>
		</menu>
	</menu>
</openbox_menu>
